body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
}

h1 {
  color: #e3350d;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
}
